@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Poppins', sans-serif;
    /*
    border: solid red;
    */
}

:root{
    --index: calc(1vw + 1vh);
    --gallery-gap: calc(var(--index) *10)
}

html{
    font-size: 62.5%;
    overflow-x:hidden ;
}

.content, .main, .main-header, .gallery {
    will-change: tranform;
}

.golova{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    
    /*
    background: yellowgreen;
    */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s;
    background: #1B1A17;
}

.golova.sticky {
    background: #fff;
    box-shadow: 0 .1rem 1rem #1B1A17;
}

.navbar a{
    font-family: "Playfair Display", serif;
    position: relative;
    font-size: 2.5rem;
    color: #ededed;
    font-weight: 500;
    margin-right: 3.5rem;
}
.nav-links{
    display: flex;  
}
.nav-txt{
    transition: 0.5s;
}
.nav-txt:hover{
    color:#fff;
    text-shadow: 0 0 1px  #D29F1B;
    transform: scale(1.2);
}

.golova.sticky .navbar a{
    color: #D29F1B;
}

.logo{
    font-size: 3.3rem;
    color: #D29F1B;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
    margin-right:auto ;
    font-family: "Playfair Display", serif;
 }

body{
    background-image: linear-gradient(to left, #4B473A, #121111);
    height: 1200px;
    color: #fafafa;
}

.flag{
    width: calc(var(--index) *35);
    left: 37vw;
    position: absolute;
    top: 22vh;
    opacity: 0.4;
    z-index: -1;
}

.main-header{
    height: 100vh;
    
}

.container{
    padding: 0 7vw;
}

.main-title{
    font-size: calc(var(--index) *6);
    font-family: "Playfair Display", serif;
    position: absolute;
    color: #E1A813;
    width: min-content;
    bottom: 10vw;
    opacity: 0.7;
}

.gallery{
    display: flex;
    padding: calc(var(--index) *10) 0;
}

.gallery > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery__item{
    
    max-width: calc(var(--index) *18);
    margin-bottom: 10rem;
    max-height: 90vh;
    padding-left: 35px;

}

.gallery{
    display: flex;
    flex-flow: column wrap;
    
}

.gallery-box{
    display: flex;
    align-items: center;
    margin-left: 30px;
    
}

.Atabek img{
    border: 3px solid #D29F1B ;  
    border-top-left-radius:30px;
    border-top-right-radius:30px; 
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;         
}

.Kurmanjan-datka img{
    border-top-left-radius:30px;
    border-top-right-radius:30px; 
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px; 
    border: 3px solid #D29F1B ;   
}


.Atabek{
    display: flex;
    flex-flow: column wrap;
}

.text-block{
    color: #fafafa;
    position: relative;
}

.text-block__h{
    font-size: 5rem;
    font-family:"Playfair Display", serif;
    margin-bottom: 2rem;
    line-height: 2.4rem;
}

.text-block__p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size:2rem;
}

.text-block__p span{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: left;

}